<div id="header-container" class="main-color topbar-secondary">
  <div class="container padding-top-double padding-bottom-double">

    <div class="container">
      <div class="row margin-bottom">
        <div class="col-sm-8">
          <h2>{{ thread.h }}</h2>
          <h3>{{ thread.co }}</h3>
          <div>{{ company.sector }}</div>
          <div class="margin-top-half">
            <div class="row">
              <div class="col-xs-1 text-right"><i class="ti-calendar"></i></div>
              <div class="col-xs-9">{{ thread.c }} - {{ thread.d }}</div>
            </div>
          </div>
        </div>

        <div class="col-sm-7 hidden">
          <div class="row">
            <div class="col-sm-4">
              <h4 class="text-white1"><span style="border-bottom:1px solid #f60; padding-bottom:8px;">Global Ranking</span></h4>
              <span class="big-number text-white1 thin">{{ watchlist.rrr }}</span>
              &nbsp;
              <span class=""><i class="ti-arrow-down text-green1"></i> 21%</span>
              <div>Peak: {{round (math watchlist.rrr '*' 1.15) 2}}</div>
              <div>Avg: {{round (math watchlist.rrr '*' 0.85) 2}}</div>
            </div>
            <div class="col-sm-4">
              <h4>Investor Ranking</h4>
              <span class="big-number text-white1 thin">{{ round (math watchlist.rrr '*' 0.91) 2}}</span>
              &nbsp;
              <span class=""><i class="ti-arrow-down text-green1"></i> 16%</span>
              <div>Peak: {{round (math watchlist.rrr '*' 1.03) 2}}</div>
              <div>Avg: {{round (math watchlist.rrr '*' 0.81) 2}}</div>
            </div>
            <div class="col-sm-4">
              <h4>Corporate Ranking</h4>
              <span class="big-number text-white1 thin">{{ round (math watchlist.rrr '*' 0.68) 2}}</span>
              &nbsp;
              <span class=""><i class="ti-arrow-up text-red1"></i> 9%</span>
              <div>Peak: {{round (math watchlist.rrr '*' 0.95) 2}}</div>
              <div>Avg: {{round (math watchlist.rrr '*' 0.65) 2}}</div>
            </div>
          </div>


        </div>

        <div class="col-sm-2 hidden">
          <button type="button" class="btn btn-white btn-round dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-top:100px;">
            Add to My Library &nbsp;<i class="ti-angle-down"></i>
          </button>
          <ul class="dropdown-menu" style="background-color: #FFF;">
            <li><a href="#" class="save-company">Save Company</a></li>
            <li>
              <a href="#" data-toggle="modal" data-target="#watchlist">
                Add to Watchlist
              </a>
          </li>
          </ul>
        </div>

      </div>
    </div>



  </div>
</div>


<div id="company-details">
  <div class="container has-secondary-topbar padding-top-double padding-bottom-double">
    <div class="text-center padding-bottom">
      <a href="javascript:;;" class="btn btn-sm btn-round btn-darkgray-transparent nav-links show-articles">Articles</a>
      &nbsp;
      <a href="javascript:;;" class="btn btn-sm btn-round btn-darkgray-transparent nav-links show-details">Details</a>
    </div>

    <div id="articles" class="margin-top">
      <table class="table" style="margin-bottom:0px;">
        <thead>
          <tr>
            <th width="30%">Article</th>
            <th width="15%">Main Tag</th>
            <th width="15%">Key ESG Issues</th>
            <th width="10%" class="text-center">Rank</th>
            <th width="10%" class="text-center">Sentiment Level</th>
            <th width="10%" class="text-center">Publish Date</th>
            <th width="10%" class="text-center">Company Prominence</th>
          </tr>
        </thead>
        <tbody>
          {{#each data.myNews }}
          <tr>
            <td>
              {{ h }}
              <div class="small text-darkgray">{{ s }}</div>
            </td>
            <td>{{ t }}</td>
            <td>{{{ iss }}}</td>
            <td class="text-center">{{round (math i '/' 10) 1}}</td>
            <td class="text-center">{{round (math r '/' 10) 1}}</td>
            <td class="text-center">{{ c }}</td>
            <td class="text-center">{{round (math r '/' 10) 1}}</td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>

    <div id="details" class="margin-top">
      <div class="row">
        <div class="col-sm-7">
          <h2>Articles by Media Rank</h2>
          <div id="breakdown" style="width: 100%; height: 400px;"></div>
        </div>

        <div class="col-sm-5">
          <h2>Thread Heatmap</h2>
          <div class="margin-bottom">Dates Selected: January 10 - 25, 2016</div>
          <div id="heatmap" style="width: 100%; height: 380px;"></div>
        </div>
      </div>
    </div>

  </div>
</div>
