<td>{{ name }}</td>
<td class="text-center">{{ numItems }}</td>
<td class="text-center">{{ totalExposure }}</td>
<td class="text-center">{{ minExposure }}</td>
<td class="text-center">{{ maxExposure }}</td>
<td class="text-center">{{ avgExposure }}</td>
<td colspan="11">
  <div id="group-chart-{{ id }}"></div>
</td>
